- content_for :title, "#{Daylight::API.namespace} :: API"

.container

  .page-header
    %h1 Models

  .row
    - @models.sort_by(&:name).each_slice(1+@models.count/3) do |group|
      .list-group.col-md-3
        - group.each do |model|
          =link_to model.name, model_path(model.name.underscore), class: 'list-group-item'
